
.vs/NCDNewMIS/config/applicationhost.config
.vs/NCDNewMIS/config/applicationhost.config
.vs/NCDNewMIS/FileContentIndex/544834fc-3587-4733-b2e5-b873904734df.vsidx
bin/Antlr3.Runtime.pdb
bin/EntityFramework.SqlServer.xml
bin/EntityFramework.xml
bin/Microsoft.AspNet.Identity.Core.xml
bin/Microsoft.AspNet.Identity.EntityFramework.xml
bin/Microsoft.Owin.Host.SystemWeb.xml
bin/Microsoft.AspNet.Identity.Owin.xml
bin/Microsoft.Owin.Security.Cookies.dll
/bin/Microsoft.Owin.Security.Cookies.xml
/bin/Microsoft.Owin.Security.Facebook.xml
/bin/Microsoft.Owin.Security.Google.xml
/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
/bin/Microsoft.Owin.Security.OAuth.xml
/bin/Microsoft.Owin.Security.Twitter.xml
/bin/Microsoft.Owin.Security.xml
/bin/Microsoft.Owin.xml
/bin/NCDNewMIS.dll
/bin/NCDNewMIS.dll.config
/bin/NCDNewMIS.pdb
/bin/Newtonsoft.Json.xml
/bin/roslyn/csc.exe
/bin/roslyn/csc.exe.config
/bin/roslyn/csc.rsp
/bin/roslyn/csi.exe
/bin/roslyn/csi.exe.config
/bin/roslyn/csi.rsp
/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/bin/roslyn/Microsoft.CodeAnalysis.dll
/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/bin/roslyn/Microsoft.CSharp.Core.targets
/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
/bin/roslyn/Microsoft.Managed.Core.targets
/bin/roslyn/Microsoft.VisualBasic.Core.targets
/bin/roslyn/Microsoft.Win32.Primitives.dll
/bin/roslyn/System.AppContext.dll
/bin/roslyn/System.Collections.Immutable.dll
/bin/roslyn/System.Console.dll
/bin/roslyn/System.Diagnostics.DiagnosticSource.dll
/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
/bin/roslyn/System.Diagnostics.StackTrace.dll
/bin/roslyn/System.Globalization.Calendars.dll
/bin/roslyn/System.IO.Compression.dll
/bin/roslyn/System.IO.Compression.ZipFile.dll
/bin/roslyn/System.IO.FileSystem.dll
/bin/roslyn/System.IO.FileSystem.Primitives.dll
/bin/roslyn/System.Net.Http.dll
/bin/roslyn/System.Net.Sockets.dll
/bin/roslyn/System.Reflection.Metadata.dll
/bin/roslyn/System.Runtime.InteropServices.RuntimeInformation.dll
/bin/roslyn/System.Security.Cryptography.Algorithms.dll
/bin/roslyn/System.Security.Cryptography.Encoding.dll
/bin/roslyn/System.Security.Cryptography.Primitives.dll
/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
/bin/roslyn/System.Text.Encoding.CodePages.dll
/bin/roslyn/System.Threading.Tasks.Extensions.dll
/bin/roslyn/System.ValueTuple.dll
/bin/roslyn/System.Xml.ReaderWriter.dll
/bin/roslyn/System.Xml.XmlDocument.dll
/bin/roslyn/System.Xml.XPath.dll
/bin/roslyn/System.Xml.XPath.XDocument.dll
/bin/roslyn/vbc.exe
/bin/roslyn/vbc.exe.config
/bin/roslyn/vbc.rsp
/bin/roslyn/VBCSCompiler.exe
/bin/roslyn/VBCSCompiler.exe.config
/bin/System.Web.Helpers.xml
/bin/System.Web.Mvc.xml
/bin/System.Web.Optimization.xml
/bin/System.Web.Razor.xml
/bin/System.Web.WebPages.Deployment.xml
/bin/System.Web.WebPages.Razor.xml
/bin/System.Web.WebPages.xml
/obj/Debug/build.force
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/NCDNewMIS.csproj.AssemblyReference.cache
/obj/Debug/NCDNewMIS.csproj.CopyComplete
/obj/Debug/NCDNewMIS.csproj.CoreCompileInputs.cache
/obj/Debug/NCDNewMIS.csproj.FileListAbsolute.txt
/obj/Debug/NCDNewMIS.dll
/obj/Debug/NCDNewMIS.pdb
/.vs/NCDNewMIS/config/applicationhost.config
/.vs/NCDNewMIS/v17/.suo
bin/Microsoft.AspNetCore.Authentication.Core.dll
bin/Microsoft.AspNetCore.Authentication.Abstractions.dll
bin/Microsoft.AspNetCore.Authentication.Core.xml
bin/Microsoft.AspNetCore.Authorization.dll
bin/Microsoft.AspNetCore.Authorization.Policy.dll
bin/Microsoft.AspNetCore.Authorization.Policy.xml
bin/Microsoft.AspNetCore.Authorization.xml
/.vs/NCDNewMIS/FileContentIndex/5fdab65e-8911-454b-aae3-842916ad4637.vsidx
/.vs/NCDNewMIS/FileContentIndex/92bd11ed-e4a3-4a00-b994-8391f793309b.vsidx
/.vs/NCDNewMIS/FileContentIndex/a2b013bb-0872-49e4-8240-8485c2d1274b.vsidx
/.vs/NCDNewMIS/FileContentIndex/c586f2b4-f601-4f75-8eea-6c08716e1f5d.vsidx
/.vs/NCDNewMIS/FileContentIndex/e55159a8-cd13-4631-9ff6-b65d98a4475c.vsidx
/bin/Microsoft.AspNetCore.Authentication.Abstractions.xml
/bin/Microsoft.AspNetCore.Cors.dll
/bin/Microsoft.AspNetCore.Cors.xml
/bin/Microsoft.AspNetCore.Hosting.Abstractions.dll
/bin/Microsoft.AspNetCore.Hosting.Abstractions.xml
/bin/Microsoft.AspNetCore.Hosting.Server.Abstractions.dll
/bin/Microsoft.AspNetCore.Hosting.Server.Abstractions.xml
/bin/Microsoft.AspNetCore.Http.Abstractions.dll
/bin/Microsoft.AspNetCore.Http.Abstractions.xml
/bin/Microsoft.AspNetCore.Http.dll
/bin/Microsoft.AspNetCore.Http.Extensions.dll
/bin/Microsoft.AspNetCore.Http.Extensions.xml
/bin/Microsoft.AspNetCore.Http.Features.dll
/bin/Microsoft.AspNetCore.Http.Features.xml
/bin/Microsoft.AspNetCore.Http.xml
/bin/Microsoft.AspNetCore.Mvc.Abstractions.dll
/bin/Microsoft.AspNetCore.Mvc.Abstractions.xml
/bin/Microsoft.AspNetCore.Mvc.Core.dll
/bin/Microsoft.AspNetCore.Mvc.Core.xml
/bin/Microsoft.AspNetCore.Mvc.Cors.dll
/bin/Microsoft.AspNetCore.Mvc.Cors.xml
/bin/Microsoft.AspNetCore.ResponseCaching.Abstractions.dll
/bin/Microsoft.AspNetCore.ResponseCaching.Abstractions.xml
/bin/Microsoft.AspNetCore.Routing.Abstractions.dll
/bin/Microsoft.AspNetCore.Routing.Abstractions.xml
/bin/Microsoft.AspNetCore.Routing.dll
/bin/Microsoft.AspNetCore.Routing.xml
/bin/Microsoft.AspNetCore.WebUtilities.dll
/bin/Microsoft.AspNetCore.WebUtilities.xml
/bin/Microsoft.DotNet.PlatformAbstractions.dll
/bin/Microsoft.Extensions.Configuration.Abstractions.dll
/bin/Microsoft.Extensions.Configuration.Abstractions.xml
/bin/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/bin/Microsoft.Extensions.DependencyInjection.Abstractions.xml
/bin/Microsoft.Extensions.DependencyInjection.dll
/bin/Microsoft.Extensions.DependencyInjection.xml
/bin/Microsoft.Extensions.DependencyModel.dll
/bin/Microsoft.Extensions.FileProviders.Abstractions.dll
/bin/Microsoft.Extensions.FileProviders.Abstractions.xml
/bin/Microsoft.Extensions.Hosting.Abstractions.dll
/bin/Microsoft.Extensions.Hosting.Abstractions.xml
/bin/Microsoft.Extensions.Logging.Abstractions.dll
/bin/Microsoft.Extensions.Logging.Abstractions.xml
/bin/Microsoft.Extensions.ObjectPool.dll
/bin/Microsoft.Extensions.ObjectPool.xml
/bin/Microsoft.Extensions.Options.dll
/bin/Microsoft.Extensions.Options.xml
/bin/Microsoft.Extensions.Primitives.dll
/bin/Microsoft.Extensions.Primitives.xml
/bin/Microsoft.Net.Http.Headers.dll
/bin/Microsoft.Net.Http.Headers.xml
/bin/Microsoft.Win32.Primitives.dll
/bin/netstandard.dll
/bin/SubSonic.Core.dll
/bin/System.AppContext.dll
/bin/System.Buffers.dll
/bin/System.Buffers.xml
/bin/System.Collections.Concurrent.dll
/bin/System.Collections.dll
/bin/System.Collections.NonGeneric.dll
/bin/System.Collections.Specialized.dll
/bin/System.ComponentModel.Annotations.dll
/bin/System.ComponentModel.dll
/bin/System.ComponentModel.EventBasedAsync.dll
/bin/System.ComponentModel.Primitives.dll
/bin/System.ComponentModel.TypeConverter.dll
/bin/System.Console.dll
/bin/System.Data.Common.dll
/bin/System.Diagnostics.Contracts.dll
/bin/System.Diagnostics.Debug.dll
/bin/System.Diagnostics.DiagnosticSource.dll
/bin/System.Diagnostics.DiagnosticSource.xml
/bin/System.Diagnostics.FileVersionInfo.dll
/bin/System.Diagnostics.Process.dll
/bin/System.Diagnostics.StackTrace.dll
/bin/System.Diagnostics.TextWriterTraceListener.dll
/bin/System.Diagnostics.Tools.dll
/bin/System.Diagnostics.TraceSource.dll
/bin/System.Diagnostics.Tracing.dll
/bin/System.Drawing.Primitives.dll
/bin/System.Dynamic.Runtime.dll
/bin/System.Globalization.Calendars.dll
/bin/System.Globalization.dll
/bin/System.Globalization.Extensions.dll
/bin/System.IO.Compression.dll
/bin/System.IO.Compression.ZipFile.dll
/bin/System.IO.dll
/bin/System.IO.FileSystem.dll
/bin/System.IO.FileSystem.DriveInfo.dll
/bin/System.IO.FileSystem.Primitives.dll
/bin/System.IO.FileSystem.Watcher.dll
/bin/System.IO.IsolatedStorage.dll
/bin/System.IO.MemoryMappedFiles.dll
/bin/System.IO.Pipes.dll
/bin/System.IO.UnmanagedMemoryStream.dll
/bin/System.Linq.dll
/bin/System.Linq.Expressions.dll
/bin/System.Linq.Parallel.dll
/bin/System.Linq.Queryable.dll
/bin/System.Memory.dll
/bin/System.Memory.xml
/bin/System.Net.Http.dll
/bin/System.Net.NameResolution.dll
/bin/System.Net.NetworkInformation.dll
/bin/System.Net.Ping.dll
/bin/System.Net.Primitives.dll
/bin/System.Net.Requests.dll
/bin/System.Net.Security.dll
/bin/System.Net.Sockets.dll
/bin/System.Net.WebHeaderCollection.dll
/bin/System.Net.WebSockets.Client.dll
/bin/System.Net.WebSockets.dll
/bin/System.Numerics.Vectors.dll
/bin/System.Numerics.Vectors.xml
/bin/System.ObjectModel.dll
/bin/System.Reflection.dll
/bin/System.Reflection.Extensions.dll
/bin/System.Reflection.Primitives.dll
/bin/System.Resources.Reader.dll
/bin/System.Resources.ResourceManager.dll
/bin/System.Resources.Writer.dll
/bin/System.Runtime.CompilerServices.Unsafe.dll
/bin/System.Runtime.CompilerServices.Unsafe.xml
/bin/System.Runtime.CompilerServices.VisualC.dll
/bin/System.Runtime.dll
/bin/System.Runtime.Extensions.dll
/bin/System.Runtime.Handles.dll
/bin/System.Runtime.InteropServices.dll
/bin/System.Runtime.InteropServices.RuntimeInformation.dll
/bin/System.Runtime.Numerics.dll
/bin/System.Runtime.Serialization.Formatters.dll
/bin/System.Runtime.Serialization.Json.dll
/bin/System.Runtime.Serialization.Primitives.dll
/bin/System.Runtime.Serialization.Xml.dll
/bin/System.Security.Claims.dll
/bin/System.Security.Cryptography.Algorithms.dll
/bin/System.Security.Cryptography.Csp.dll
/bin/System.Security.Cryptography.Encoding.dll
/bin/System.Security.Cryptography.Primitives.dll
/bin/System.Security.Cryptography.X509Certificates.dll
/bin/System.Security.Principal.dll
/bin/System.Security.SecureString.dll
/bin/System.Text.Encoding.dll
/bin/System.Text.Encoding.Extensions.dll
/bin/System.Text.Encodings.Web.dll
/bin/System.Text.Encodings.Web.xml
/bin/System.Text.RegularExpressions.dll
/bin/System.Threading.dll
/bin/System.Threading.Overlapped.dll
/bin/System.Threading.Tasks.dll
/bin/System.Threading.Tasks.Extensions.dll
/bin/System.Threading.Tasks.Extensions.xml
/bin/System.Threading.Tasks.Parallel.dll
/bin/System.Threading.Thread.dll
/bin/System.Threading.ThreadPool.dll
/bin/System.Threading.Timer.dll
/bin/System.ValueTuple.dll
/bin/System.Web.Cors.dll
/bin/System.Xml.ReaderWriter.dll
/bin/System.Xml.XDocument.dll
/bin/System.Xml.XmlDocument.dll
/bin/System.Xml.XmlSerializer.dll
/bin/System.Xml.XPath.dll
/bin/System.Xml.XPath.XDocument.dll
/obj/Debug
/packages
