
<style>
    /*.fa-indian-rupee-sign{
        font-size:xx-large !important;
    }*/
</style>
<div class="content-body">
    <div class="container-fluid">
        <div class="page-titles dark:bg-[#1b1b1b] rounded-lg flex items-center justify-between relative  mb-[1.875rem] flex-wrap z-[1] py-[0.9375rem] sm:px-[0.975rem] px-[1.875rem] bg-white">
            <h4>Financial Utillization</h4>
        </div>
        <div class="row">
            <div class="xl:w-1/4">
                <div class="card dz-card dz-tab-area" id="card-title-1" style="/* text-align: center; */align-items: center;">
                    <div class="card-header flex flex-wrap justify-between items-center sm:p-5 sm:pt-6 p-4 pt-[1.875rem] max-sm:pb-5 relative z-[2] border-b border-[#E6E6E6] dark:border-[#ffffff1a]">
                        <h5 class="card-title capitalize">F.Y. 2021-22</h5>
                    </div>
                    <div class="p-[1.875rem]">
                        <i class="fa-solid fa-indian-rupee-sign" style="font-size:xx-large !important;"></i>
                    </div>
                    <div class="card-footer px-5 pb-5">
                        <p class="card-text"><strong>Budget Allocation</strong>&nbsp;&nbsp;<i class="fa-solid fa-indian-rupee-sign"></i>&nbsp;&nbsp;24,46,858</p>
                        <p class="card-text"><strong>Utillize</strong>&nbsp;&nbsp;<i class="fa-solid fa-indian-rupee-sign"></i>&nbsp;&nbsp;24,46,858</p>
                        <p><input type="range" id="points1" name="points" min="0" max="2446858"></p>
                    </div>
                </div>
            </div>
            <!-- /Column  -->
            <!-- Column  -->
            <div class="xl:w-1/4">
                <div class="card dz-card dz-tab-area" id="card-title-2" style="/* text-align: center; */align-items: center;">
                    <div class="card-header flex flex-wrap justify-between items-center sm:p-5 sm:pt-6 p-4 pt-[1.875rem] max-sm:pb-5 relative z-[2] border-b border-[#E6E6E6] dark:border-[#ffffff1a]">
                        <h5 class="card-title capitalize">F.Y. 2022-23</h5>
                    </div>
                    <div class="p-[1.875rem]">
                        <i class="fa-solid fa-indian-rupee-sign" style="font-size:xx-large !important;"></i>
                    </div>
                    <div class="card-footer py-4 px-6 border-t border-[#E6E6E6] dark:border-[#ffffff1a] sm:text-sm text-xs sm:flex justify-between items-center">
                        <div class="card-footer-link mb-4 mb-sm-0">
                            <p class="card-text"><strong>Budget Allocation</strong>&nbsp;&nbsp;<i class="fa-solid fa-indian-rupee-sign"></i>&nbsp;&nbsp;58,17,921</p>
                            <p class="card-text"><strong>Utillize</strong>&nbsp;&nbsp;<i class="fa-solid fa-indian-rupee-sign"></i>&nbsp;&nbsp;58,17,921</p>
                            <p><input type="range" id="points2" name="points" min="0" max="5817921"></p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /Column  -->
            <!-- Column  -->
            <div class="xl:w-1/4">
                <div class="card dz-card dz-tab-area text-center" id="card-title-3" style="/* text-align: center; */align-items: center;">
                    <div class="card-header flex flex-wrap justify-between items-center sm:p-5 sm:pt-6 p-4 pt-[1.875rem] max-sm:pb-5 relative z-[2] border-b border-[#E6E6E6] dark:border-[#ffffff1a]">
                        <h5 class="card-title capitalize">F.Y. 2023-24</h5>
                    </div>
                    <div class="p-[1.875rem]">
                        <i class="fa-solid fa-indian-rupee-sign" style="font-size:xx-large !important;"></i>
                       
                    </div>
                    <div class="card-footer">
                        <p class="card-text"><strong>Budget Allocation</strong>&nbsp;&nbsp;<i class="fa-solid fa-indian-rupee-sign"></i>&nbsp;&nbsp;14,29,032</p>
                        <p class="card-text"><strong>Utillize</strong>&nbsp;&nbsp;<i class="fa-solid fa-indian-rupee-sign"></i>&nbsp;&nbsp;Y.T.D</p>
                        <p><input type="range" id="points3" name="points" min="0" max="1429032"></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<link rel="stylesheet" href="~/Content/smartphoto.min.css">
@section Scripts {
    <!-- Gallery -->
    <script src="~/Scripts/smartphoto.js"></script>
    <script>
  document.addEventListener('DOMContentLoaded',function(){
	new smartPhoto(".js-img-viwer");
        });
        $("#points1").val("2446858");
        $("#points2").val("5817921");
        $("#points3").val("0");
    </script>
}