
<style>
    /*div#pop-up2324 {
        display: none;
        position: absolute;
        width: 300px;
        padding: 10px;
        background: #eeeeee;
        color: #000000;
        border: 1px solid #1a1a1a;
        font-size: 90%;
    }
    div#pop-up2223 {
        display: none;
        position: absolute;
        width: 300px;
        padding: 10px;
        background: #eeeeee;
        color: #000000;
        border: 1px solid #1a1a1a;
        font-size: 90%;
    }*/
    .flip-card {
        background-color: transparent;
        width: 100%;
        height: 300px;
        perspective: 1000px;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 300px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .flip-card-front {
        /*background-color: #bbb;
        color: black;*/
    }

    .flip-card-back {
        /*background-color: #2980b9;
        color: white;*/
        transform: rotateY(180deg);
    }
</style>
<div class="content-body">
    <div class="container-fluid">
        <div class="page-titles dark:bg-[#1b1b1b] rounded-lg flex items-center justify-between relative  mb-[1.875rem] flex-wrap z-[1] py-[0.9375rem] sm:px-[0.975rem] px-[1.875rem] bg-white">
            <h4>Financial Utillization ACT - I</h4>
        </div>
        <div class="row">
            <div class="xl:w-1/3">
                <div class="card dz-card dz-tab-area" id="card-title-1" style="/* text-align: center; */align-items: center;">
                    <div class="card-header flex flex-wrap justify-between items-center sm:p-5 sm:pt-6 p-4 pt-[1.875rem] max-sm:pb-5 relative z-[2] border-b border-[#E6E6E6] dark:border-[#ffffff1a]">
                        <h5 class="card-title capitalize">F.Y. 2021-22</h5>
                    </div>
                    <div class="p-[1.875rem]">
                        @*<i class="fa-solid fa-indian-rupee-sign" style="font-size:xx-large !important;"></i>*@
                        <img src="~/Content/assets/images/indian-rupee-sign.png" />
                    </div>
                    <div class="card-footer px-5 pb-5">
                        <p class="card-text"><strong>Budget Allocation</strong>&nbsp;&nbsp;<i class="fa-solid fa-indian-rupee-sign"></i>&nbsp;&nbsp;24,46,858</p>
                        <p class="card-text"><strong>Utilized</strong>&nbsp;&nbsp;<i class="fa-solid fa-indian-rupee-sign"></i>&nbsp;&nbsp;24,46,858</p>
                        <p><input type="range" id="points1" name="points" min="0" max="2446858" disabled></p>
                    </div>
                </div>
            </div>
            <!-- /Column  -->
            <!-- Column  -->
            <div class="xl:w-1/3">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="card dz-card dz-tab-area" id="card-title-2" style="/* text-align: center; */align-items: center;">
                                <div class="card-header flex flex-wrap justify-between items-center sm:p-5 sm:pt-6 p-4 pt-[1.875rem] max-sm:pb-5 relative z-[2] border-b border-[#E6E6E6] dark:border-[#ffffff1a]">
                                    <h5 class="card-title capitalize">F.Y. 2022-23</h5>
                                </div>
                                <div class="p-[1.875rem]">
                                    @*<i class="fa-solid fa-indian-rupee-sign" style="font-size:xx-large !important;"></i>*@
                                    <img src="~/Content/assets/images/indian-rupee-sign.png" />
                                </div>
                                <div class="card-footer">
                                    <p class="card-text"><strong>Budget Allocation</strong>&nbsp;&nbsp;<i class="fa-solid fa-indian-rupee-sign"></i>&nbsp;&nbsp;58,17,921</p>
                                    <p class="card-text"><strong>Utilized</strong>&nbsp;&nbsp;<i class="fa-solid fa-indian-rupee-sign"></i>&nbsp;&nbsp;58,17,921</p>
                                    <p><input type="range" class="rangeinput" id="points2" name="points" min="0" max="5817921" disabled></p>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <div id="pop-up2223" style="height:270px"></div>
                        </div>
                    </div>
                    </div>
            </div>
                        <!-- /Column  -->
                        <!-- Column  -->
                        <div class="xl:w-1/3">
                            @*<div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">*@
                                        <div class="card dz-card dz-tab-area text-center" id="card-title-3" style="/* text-align: center; */align-items: center;">
                                            <div class="card-header flex flex-wrap justify-between items-center sm:p-5 sm:pt-6 p-4 pt-[1.875rem] max-sm:pb-5 relative z-[2] border-b border-[#E6E6E6] dark:border-[#ffffff1a]">
                                                <h5 class="card-title capitalize">F.Y. 2023-24</h5>
                                            </div>
                                            <div class="p-[1.875rem]">
                                                @*<i class="fa-solid fa-indian-rupee-sign" style="font-size:xx-large !important; background-color:orange"></i>*@
                                                <img src="~/Content/assets/images/indian-rupee-sign.png" />
                                            </div>
                                            <div class="card-footer">
                                                <p class="card-text"><strong>Budget Allocation</strong>&nbsp;&nbsp;<i class="fa-solid fa-indian-rupee-sign"></i>&nbsp;&nbsp;14,29,032</p>
                                                <p class="card-text"><strong>Utilized</strong>&nbsp;&nbsp;<i class="fa-solid fa-indian-rupee-sign"></i>&nbsp;&nbsp;14,29,032</p>
                                                <p><input type="range" id="points3" name="points" min="0" max="1429032" disabled></p>
                                            </div>

                                        </div>

                                        @*</div>
            <div class="flip-card-back">
            <div id="pop-up2324" style="height:270px"></div>
        </div>
                                    </div>
                            </div>
                        </div>*@

                        </div>
                </div>
            </div>
    </div>
<link rel="stylesheet" href="~/Content/smartphoto.min.css">
@section Scripts {
    <!-- Gallery -->
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    @*<script src="https://code.highcharts.com/modules/series-label.js"></script>*@
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/stock/modules/drilldown.js"></script>
    <script src="https://code.highcharts.com/maps/modules/map.js"></script>
    <script src="~/Scripts/JS/Export.js"></script>
    <script src="~/Scripts/smartphoto.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            new smartPhoto(".js-img-viwer");
        });
        $("#points1").val("2446858");
        $("#points2").val("5817921");
        $("#points3").val("1429032");

        document.getElementsByClassName("myinput").oninput = function () {
            var value = (this.value - this.min) / (this.max - this.min) * 100
            this.style.background = 'linear-gradient(to right, #82CFD0 0%, #82CFD0 ' + value + '%, #fff ' + value + '%, white 100%)'
        };
        $(document).ready(function () {
            var param = { 'ptype': '1', 'fyear': '2022-23' };
            $.ajax({
                method: 'POST',
                url: document.baseURI + '/Home/FinUtilization',
                data: JSON.stringify(param),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (resp) {
                    resp = resp.Data;
                    var aData = JSON.parse(resp);
                    var Qua = []
                    var bug = [];
                    var exp = [];
                    var dbug = 0, dexp = 0, html = '';
                    for (var i = 0; i < aData.length; i++) {
                        if (!Qua.includes(aData[i].QuaterType))
                            Qua.push(aData[i].QuaterType);
                        bug.push(aData[i].Budget);
                        dbug += aData[i].Budget;
                        exp.push(aData[i].Utilized);
                        dexp += aData[i].Utilized;
                      //  html = html + '<tr><td>' + aData[i].FinYear + '</td><td>' + aData[i].QuaterType + '</td><td>' + aData[i].Budget + '</td><td>' + aData[i].Utilized + '</td><td>' + aData[i].per + '</td></tr>';

                    }
                    bindgraph("pop-up2223", Qua, "F.Y. 2022-23", "2022-23", [{ name: "Budget", data: bug, color: "#199cc6" }, { name: "Utilized", data: exp, color: "#ff6a00" }]);
                },
                error: function (resp) {
                    alert(resp);
                }
            });
            //--------------------------------------------------------------------------------------------------------------
            //var param = { 'ptype': '1', 'fyear': '2023-24' };
            //$.ajax({
            //    method: 'POST',
            //    url: document.baseURI + '/Home/FinUtilization',
            //    data: JSON.stringify(param),
            //    contentType: "application/json; charset=utf-8",
            //    dataType: "json",
            //    success: function (resp) {
            //        resp = resp.Data;
            //        var aData = JSON.parse(resp);
            //        var Qua = []
            //        var bug = [];
            //        var exp = [];
            //        var dbug = 0, dexp = 0, html = '';
            //        for (var i = 0; i < aData.length; i++) {
            //            if (!Qua.includes(aData[i].QuaterType))
            //                Qua.push(aData[i].QuaterType);
            //            bug.push(aData[i].Budget);
            //            dbug += aData[i].Budget;
            //            exp.push(aData[i].Utilized);
            //            dexp += aData[i].Utilized;
            //           // html = html + '<tr><td>' + aData[i].FinYear + '</td><td>' + aData[i].QuaterType + '</td><td>' + aData[i].Budget + '</td><td>' + aData[i].Utilized + '</td><td>' + aData[i].per + '</td></tr>';

            //        }
            //        bindgraph("pop-up2324", Qua, "", "2023-24", [{ name: "Budget", data: bug }, { name: "Utilized", data: exp }]);
            //    },
            //    error: function (resp) {
            //        alert(resp);
            //    }
            //});
        });
        function bindgraph(id, label, head, subhead, data) {

            Highcharts.chart(id, {
                chart: {
                    type: 'column'
                },
                title: {
                    text: head,
                    align: 'center'
                },
                credits: {
                    enabled: false
                },
                subtitle: subhead,
                xAxis: {
                    categories: label,
                    crosshair: true,
                    accessibility: {
                        description: 'Countries'
                    }
                },
                yAxis: {
                    min: 0,
                    title: false,
                    labels: {
                        enabled: false
                    },
                    gridLineColor: 'transparent',
                },
                tooltip: {
                    valueSuffix: ' RS',
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br>' +
                            'Value: ' + this.point.y.toLocaleString('en-IN');
                    }
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                legend: {
                    enabled: false
                },
                series: data
            });
        }
        //$(function () {
        //    var moveLeft = -100;
        //    var moveDown = 10;

        //    $('#points2').hover(function (e) {
        //        $('div#pop-up2223').show();
        //        $('div#pop-up2223').css('top', e.pageY + moveDown)
        //        $('div#pop-up2223').css('left', e.pageX + moveLeft)
        //        //.appendTo('body');
        //    }
        //    //    , function () {
        //    //    $('div#pop-up2324').hide();
        //        //}
        //    );

        //    $('#points2').mousemove(function (e) {
        //        $("div#pop-up2223").css('top', e.pageY + moveDown).css('left', e.pageX + moveLeft);
        //    });
        //    $("body").click(function () {
        //        $('div#pop-up2223').hide();
        //    });
        //});
        //$(function () {
        //    var moveLeft = -100;
        //    var moveDown = 10;

        //    $('#points3').hover(function (e) {
        //        $('div#pop-up2324').show();
        //        $('div#pop-up2324').css('top', e.pageY + moveDown)
        //        $('div#pop-up2324').css('left', e.pageX + moveLeft)
        //        //.appendTo('body');
        //    }
        //        //    , function () {
        //        //    $('div#pop-up2324').hide();
        //        //}
        //    );

        //    $('#points3').mousemove(function (e) {
        //        $("div#pop-up2324").css('top', e.pageY + moveDown).css('left', e.pageX + moveLeft);
        //    });
        //    $("body").click(function () {
        //        $('div#pop-up2324').hide();
        //    });
        //});
    </script>


}