@{
    ViewBag.Title = "Raw Data - ACT II";
}


<div class="content-body rightside-event">
    <div class="container-fluid">
        <div class="page-titles dark:bg-[#1b1b1b] rounded-ss-md flex items-center justify-between relative  mb-[1.875rem] flex-wrap z-[1] py-[0.9375rem] sm:px-[0.975rem] px-[1.875rem] bg-white">
            <h4>@ViewBag.Title</h4>
            <button type="button" id="div-download"
                    title="Click here to Download To Excel"></button>
        </div>

        <div class="row">

            <div class="filter cm-content-box box-primary relative rounded-lg mb-4 bg-white dark:bg-[#1b1b1b]">
                @*<div class="content-title flex justify-between items-center py-4 sm:px-6 px-[1.2rem] card-toggle-btn">
                        <div class="cpa text-dark dark:text-white text-base font-semibold">
                            <i class="fa-sharp fa-solid fa-filter mr-2"></i>Filter
                        </div>
                        <div class="tools">
                            <a href="javascript:void(0);" class="expand SlideToolHeader inline-block"><i class="fal fa-angle-down font-['Font_Awesome_6_Free'] font-semibold text-[#c2c2c2] text-xl arrow"></i></a>
                        </div>
                    </div>*@
                <div class="content form excerpt border-t border-b-color dark:border-[#ffffff1a]">
                    <div class="p-[1.0rem] max-sm:p-4">
                        <div class="border-all">

                            <div class="mb-4 md:w-1/2">
                                <label class="form-label">Screening Type</label>
                                <select class="nice-select style-1 py-1.5 px-[1.563rem] bg-transparent text-[13px] font-normal outline-none relative focus:ring-0 border border-b-color text-[#a5a5a5] h-[2.813rem] leading-[1.813rem]" name="SType" id="SType">
                                    @foreach (var item in NCDNewMIS.Models.CommonModel.GetScreeningType(true).ToList())
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                            <div class="mb-4 md:w-1/2">
                                <label class="form-label">From Date</label>
                                <input type="text" name="FD" id="FD" class="datepicker
                                       form-control relative text-[13px] text-body-color h-[2.813rem] border border-b-color block rounded-lg py-1.5 px-3 duration-500  outline-none w-full
                                       date-picker-input" value="" autocomplete="off" />
                            </div>
                            <div class="mb-4 md:w-1/2">
                                <label class="form-label">To Date</label>
                                <input type="text" name="TD" id="TD" class="datepicker
                                       form-control relative text-[13px] text-body-color h-[2.813rem] border border-b-color block rounded-lg py-1.5 px-3 duration-500  outline-none w-full
                                       date-picker-input" value="" autocomplete="off" />
                            </div>
                            <div class="sm:w-1/2 mt-6">
                                <button name="btnsubmit" id="btnsubmit"
                                        class="mr-1 mb-2 inline-block rounded-lg font-medium xl:text-[15px] text-xs leading-5 xl:py-[0.719rem] xl:px-[1.563rem] py-2.5 px-4 border border-primary text-white bg-primary hover:bg-hover-primary hover:border-hover-primary duration-300">
                                    Search
                                </button>
                                <a href="~/Home/Index" class="mr-1 mb-2 inline-block rounded-lg font-medium xl:text-[15px] text-xs leading-5 xl:py-[0.719rem] xl:px-[1.563rem] py-2.5 px-4 border border-warning bg-warning text-white hover:bg-[#ffa91a] duration-300"><i class="fa fa-refresh"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full">
                <div class="card dz-card dz-tab-area" id="Tailwind-table1">

                    <div class="pt-0 p-[1.875rem]">
                        <div class="overflow-x-auto table-scroll">
                            <div class="col-md-12" id="subdata">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")



    @*<link href="https://cdn.datatables.net/2.0.6/css/dataTables.dataTables.css" />*@
    <link href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
    <link href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.dataTables.css" />
    <!--------------------------------------Data Table---------------------------------------->
    @*<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>*@

    <script src="https://cdn.datatables.net/2.0.6/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.print.min.js"></script>

    <script>
        $(function () {
            var dateFormat = "dd-M-yy",
                from = $("#FD")
                    .datepicker({
                        defaultDate: "+1w",
                        changeMonth: true,
                        numberOfMonths: 1,
                        dateFormat: 'dd-M-yy'
                    })
                    .on("change", function () {
                        to.datepicker("option", "minDate", getDate(this));
                    }),
                to = $("#TD").datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1,
                    dateFormat: 'dd-M-yy'

                })
                    .on("change", function () {
                        from.datepicker("option", "maxDate", getDate(this));
                    });

            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }

                return date;
            }
        });
            
        $(document).ready(function () {
            BindData();

            //$('#SType').change(function () {
            //    BindData();
            //})

            $("#btnsubmit").click(function (e) {
                e.preventDefault();
                BindData();
            });


        });//End Load Method

        function BindData() {
            $("#subdata").html('');
            var formData = $('#formid').serialize();
            var SType = $("#SType").val();
            var FD = $("#FD").val();
            var TD = $("#TD").val();
            $.ajax({
                type: "Get",
                url: document.baseURI + "/Home/GetDataRowList",
                data: { SType: SType, FD: FD, TD: TD },
                //cache: false,
                success: function (res) {
                    if (res.IsSuccess) {
                        $("#subdata").html(res.Data);

                        if ($.fn.dataTable.isDataTable('#tbl')) {
                            $("#tbl").dataTable().fnDestroy();
                        }
                        table = $('#tbl').DataTable({
                            //responsive: true,
                            //"sDom": '<"bottom"i>rt<"top"flp><"clear">',
                            // "searching": true,
                            //"dom": 'rtip',
                            //"lengthChange": false,
                            // scrollY: "400px",
                            // scrollX: true,
                            //scrollCollapse: true,
                            //paging: false,
                            pageLength: 100,
                            fixedHeader: true,
                            //fixedColumns: {
                            //    leftColumns: 1,
                            //    rightColumns: 1
                            //},
                            "dom": '<"pull-left"f><"pull-right"l>tip',
                            //"pageLength": 100,
                            //"lengthChange": false,
                            columnDefs: [
                                {
                                    target: 1,
                                    className: 'cell-border'
                                }
                            ],
                            order: [[0, 'asc']],
                            buttons: [{
                                extend: 'excel', text: '<span><i class="fa fa-download"></i> Download To Excel</span>', title: 'NCD Data Lists',//$('#IDDistrict option:selected').text() +
                                className: 'mr-1 mb-2 inline-block rounded-lg font-medium xl:text-[15px] text-xs leading-5 xl:py-[0.719rem] xl:px-[1.563rem] py-2.5 px-4 border border-primary text-white bg-primary hover:bg-hover-primary hover:border-hover-primary duration-300',
                                filename: 'NCD Data List',
                                exportOptions: { modifier: { page: 'all' } }
                            }],
                        });
                        $('.dataTables_filter input[type="search"]').css(
                            { 'width': '500px', 'display': 'inline-block' }
                        );
                        $('#div-download').empty();
                        table.buttons().container().appendTo($('#div-download'));
                    }
                    else {
                        $("#subdata").html("<h4 class='text-danger text-center'>" + res.Data +"</h5>");
                    }
                },
                error: function (req, error) {
                    if (error === 'error') { error = req.statusText; }
                    var errormsg = 'There was a communication error: ' + error;
                    //Do To Message display
                }
            });
        }

      

    </script>
}
